<template>
    <div class="appointments-list">
      <h2>Appointments</h2>
      <!-- Filter by Agent -->
      <el-select v-model="selectedAgent" placeholder="Filter by Agent" clearable style="width: 240px; margin-right: 5px;" @change="listAppointments()">
        <el-option 
          v-for="agent in agents" 
          :key="agent.id" 
          :label="`${agent.fields.agent_name} 
          ${agent.fields.agent_surname}`" 
          :value="agent.fields.agent_id"
        ></el-option>
      </el-select>
      <!-- Filter by  Date -->
      <el-date-picker @change="listAppointments()"
        v-model="dateSelector"
        type="datetimerange"
        start-placeholder="Start date"
        end-placeholder="End date"
        format="YYYY-MM-DD HH:mm:ss"
        date-format="YYYY/MM/DD ddd"
        time-format="A hh:mm:ss"
      />
      <AppointmentsTable :appointments="appointmentsData" :agentList="agents" @appointments-updated="listAppointments"/>
    </div>
  </template>
  
  <script>
  import { getAppointments, getAgents } from '@/services/airtables';
  import AppointmentsTable from "@/components/AppointmentsTable.vue";
  import { format } from "date-fns";
  export default {
    data() {
      return {
        appointmentsData: [],
        agents: [],
        selectedAgent: null,
        dateSelector: []
      };
    },
    components: {
      AppointmentsTable,
    },
    methods: {
      async listAppointments() {
        try {
          let filterFormula = '';
          if (this.dateSelector && this.dateSelector[0]) {//start date
            const formattedStartDate = format(new Date(this.dateSelector[0]), "yyyy-MM-dd'T'HH:mm:ss.SSSxxx");
            filterFormula += `DATETIME_PARSE(appointment_date) >= DATETIME_PARSE('${formattedStartDate}')`;
          }
          if (this.dateSelector && this.dateSelector[1]) {// end date
            const formattedEndDate = format(new Date(this.dateSelector[1]), "yyyy-MM-dd'T'HH:mm:ss.SSSxxx");
            filterFormula += filterFormula ? `, ` : '';
            filterFormula += `DATETIME_PARSE(appointment_date) <= DATETIME_PARSE('${formattedEndDate}')`;
          }
          if (this.selectedAgent) {
            filterFormula += filterFormula ? `, ` : '';
            filterFormula += `agent_id = '${this.selectedAgent}'`;
          }
          const appointmentsData = await getAppointments([], {
            filterByFormula: filterFormula ? `AND(${filterFormula})` : undefined,
          });
          this.appointmentsData = appointmentsData;
        } catch (error) {
          console.error('Error getting appointmentsData:', error);
        }
      },
      async listAgents() {
        try {
          this.agents = await getAgents();
        } catch (error) {
          console.error('Error getting Contacts:', error);
        }
      },
    },
    mounted() {
      this.listAppointments();
      this.listAgents();
    },
  };
  </script>
  <style scoped>
    .appointments-list {
      max-width: 800px;
      margin: auto;
      padding: 5px;
    }
  </style>