<template>
  <div class="appointments-form">
    <AppointmentForm mode="create"/>
  </div>
</template>
<script>
import AppointmentForm from "@/components/AppointmentForm.vue";
export default {
  components: {
    AppointmentForm,
  }
};
</script>