<template>
  <div class="common-layout">
    <el-container>
      <el-header class="header"><h1>Iceberg-estates</h1></el-header>
      <el-container>
        <el-aside width="200px">
          <div class="menu-item">
            <router-link class="link-item" to="/">Home</router-link>
          </div>
          <div class="menu-item">
            <router-link class="link-item" to="/appointments">Appointments</router-link>
          </div>
          <div class="menu-item">
            <router-link class="link-item" to="/create-appointment">Create Appointment</router-link>
          </div>
        </el-aside>
        <el-main>
          <router-view></router-view>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>


<style scoped>
.header {
  box-shadow: 0px 2px 4px gray;
}
.menu-item {
  text-decoration: none;	
  display:block; 
  padding: 30px 0px 10px 25px;    
  cursor: pointer;
  box-shadow: 0px 2px 4px gray; 
}
.link-item {
  text-decoration: none;	  
}
</style>
