<template>
  <div class="appointment-form">
    <h2>Appointment Form</h2>
    <el-form :model="form" :rules="rules" label-width="150px" ref="form">
      <!-- Appointment Address -->
      <el-form-item label="Appointment Address" prop="appointment_postcode">
        <el-input v-model="form.appointment_postcode" placeholder="Postal Code"></el-input>
        <span v-if="formValid && postalCodeValidation === false" class="el-form-item__error">Invalid postal code for England</span>
      </el-form-item>
      <!-- Appointment Date -->
      <el-form-item label="Appointment Date" prop="appointment_date">
        <el-date-picker v-model="form.appointment_date" type="datetime" placeholder="Appointment Date"></el-date-picker>
      </el-form-item>
      <el-divider />
      <!-- Contact Information -->
      <el-form-item label="Contanct List" v-if="contacts.length > 0" prop="contact_id">
        <el-select  v-model="form.contact_id" placeholder="Contanct List" @change="handleContactChange">
          <template #header>
            <div style="display:flex;justify-content:space-between">
              <span style="margin-right:3px">Name Surname</span>
              <span style="margin-right:3px">Email</span>
              <span style="margin-right:3px">Phone</span>
            </div>
          </template>
          <el-option 
            v-for="contact in contacts" :key="contact.id" 
            :label="`${contact.fields.contact_name} ${contact.fields.contact_surname}`"
            :value="contact.id" >
              <div style="display:flex;justify-content:space-between">
                <span v-if="contact.fields.contact_name" style="margin-right:3px">{{ contact.fields.contact_name }} {{ contact.fields.contact_surname }}</span>
                <span v-else style="margin-right:3px">not defined</span>
                <span style="margin-right:3px">{{ contact.fields.contact_email  }}</span>
                <span style="margin-right:3px">{{ contact.fields.contact_phone  }}</span>
              </div>
          </el-option>
        </el-select>
      </el-form-item>
      <!-- Customer Information -->
      <el-form-item v-if="form.contact_id && selectedContact.contact_name" label="Contact Name" prop="contact_name" >
        <el-input v-model="selectedContact.contact_name" placeholder="Name" class="input-elem" :disabled=true></el-input>
        <el-input v-model="selectedContact.contact_surname" placeholder="Surname" class="input-elem" :disabled=true></el-input>
      </el-form-item>
      <el-form-item v-if="form.contact_id && selectedContact.contact_email" label="Contact Email" prop="contact_email :disabled=true">
        <el-input v-model="selectedContact.contact_email" placeholder="Email" class="input-elem" :disabled=true></el-input>
      </el-form-item>
      <el-form-item v-if="form.contact_id && selectedContact.contact_phone" label="Contact Phone" prop="contact_phone" >
        <el-input v-model="selectedContact.contact_phone" placeholder="Phone" class="input-elem" :disabled=true></el-input>
      </el-form-item>
      <el-divider />
      <!-- Real Estate Agent -->
      <el-form-item label="Real Estate Agent" v-if="agents.length > 0" prop="agent_id">
        <el-select  v-model="form.agent_id" placeholder="Real Estate Agent">
          <el-option 
            v-for="agent in agents" :key="agent.id" 
            :label="`${agent.fields.agent_name} ${agent.fields.agent_surname}`" :value="agent.id">
          </el-option>
        </el-select>
      </el-form-item>
      <!-- Save Button -->
      <el-form-item>
        <el-button type="primary" @click="saveForm">{{ mode === 'create' ? 'Create' : 'Update' }}</el-button>
      </el-form-item>
    </el-form>
    <!-- Google Maps Map -->
    <div>
        <div ref="map" style="height: 300px;"></div>
        <div v-if="postalCodeValidation">
          <p>Distance: {{ form.distance }} km / RoadTime: {{ form.timeSummary }} minutes</p>
          <p>Estimated Departure Time: {{ form.departureTime }}</p>
          <p>Estimated Return Time: {{ form.returnTime }}</p>
        </div>
    </div>
  </div>
</template>

<script>
/* global google */
import { getAgents, getContacts, createAppointment, updateAppointment } from '@/services/airtables';
import { getPostcodeDetails, getPostcodetoLocation } from '@/services/postcodes';
import { format } from "date-fns";
export default {
  emits: ["appointments-updated"],
  props: {
    appointmentData: {
      type: Object,
      default: () => ({
        appointment_postcode: '',
        appointment_date: '',
        agent_id: null,
        contact_id: null,
        id: null
      }),
    },
    contactData: {
      type: Array,
      default: () => ([]),
    },
    agentData: {
      type: Array,
      default: () => ([]),
    },
    mode: {
      type: String,
      default: "create", // for checking form type
    },
  },
  data() {
    return {
      form: { ...this.appointmentData },
      officeLocation: {
          lat: 51.729157,
          lng: 0.478027
      },
      map: null,
      agents: [...this.agentData],
      contacts: [...this.contactData],
      selectedContact: {},
      rules: {
          appointment_postcode: [
            { required: true, message: 'Postal Code cannot be empty', trigger: 'blur' },
          ],
          appointment_date: [{ required: true, message: 'Appointment Date cannot be empty', trigger: 'blur' }],
          agent_id: [{ required: true, message: 'Contact Information cannot be empty', trigger: 'change' }],
          contact_id: [{ required: true, message: 'Real Estate Agent cannot be empty', trigger: 'change' }],
      },
      postalCodeValidation: null,
      formValid: null
    };
  },
  watch: {
    'form.appointment_postcode': function(newVal) {
      if (newVal) {
        this.checkMapForm();
      }
    },
    'form.appointment_date': function(newVal) {
      if (newVal) {
        this.checkMapForm();
      }
    },
  },
  methods: {
    checkMapForm() {
      if (this.form.appointment_postcode && this.form.appointment_date) {
        this.handlePostalCodeChange(this.form.appointment_postcode);
      }
    },
    async handlePostalCodeChange(postcode) {
      try {
        const postalcodeLocation = await getPostcodetoLocation(postcode); 
        if (postalcodeLocation.result.country !== "England") {
          this.postalCodeValidation = false;
        } else {
          this.postalCodeValidation = true;
          this.handleMapClick(postalcodeLocation.result.latitude, postalcodeLocation.result.longitude, false)
        }
      } catch (error) {
        this.postalCodeValidation = false;
        console.error('Error getting postcode details:', error);
      }
    },
    handleMapClick(lat,lng,setPostalCode) {
      if(setPostalCode){ //if directly clicked from map its true
        this.setPostalCodeInput(lng,lat);
      }
      this.calculateRoute(new google.maps.LatLng(lat, lng));
    },
    async setPostalCodeInput(lng,lat){
      //checks postalcode validation if clicked from map
      try {
        //sets the postalcode of form
        this.form.appointment_postcode = await getPostcodeDetails(lng, lat); 
      } catch (error) {
        console.error('Error getting postcode details:', error);
        this.form.appointment_postcode="";
      }
    },
    calculateRoute(endRoute) {
      const officeLatlong = {
        lat: 51.729157,
        lng: 0.478027
      }
      const start = officeLatlong;
      const end = {
        lat: endRoute.lat(),
        lng: endRoute.lng(),
      };
      this.directionsService.route({
        origin: start,
        destination: end,
        travelMode: google.maps.TravelMode.DRIVING,
      }, (response, status) => {
        if (status === 'OK') {
          this.directionsRenderer.setDirections(response);
          if (this.form.appointment_date) {
            this.computeTotalDistance(response);
          }
        } else {
          window.alert('Directions request failed due to ' + status);
        }
      });
    },
    computeTotalDistance(result) {
      let totalDistance = 0;
      let totalDuration = 0;
      const myroute = result.routes[0];
      if (!myroute) {
        return;
      }
      for (let i = 0; i < myroute.legs.length; i++) {
        totalDistance += myroute.legs[i].distance.value;
        totalDuration += myroute.legs[i].duration.value; // seconds
      }
      this.form.distance = totalDistance / 1000;
      const defaultAppointmentDuration = 1 * 60 * 60 * 1000; // hour
      const departureTime = new Date(this.form.appointment_date).getTime() - totalDuration * 1000;
      const returnTime = departureTime + defaultAppointmentDuration + totalDuration * 2000;
      this.form.departureTime = this.formatDate(new Date(departureTime).toISOString());
      this.form.returnTime = this.formatDate(new Date(returnTime).toISOString());
      this.form.timeSummary = (totalDuration / 60).toFixed(2);
    },
    formatDate(date) {
      return format(new Date(date), "yyyy-MM-dd HH:mm:ss");
    },
    handleContactChange() {
      if (this.form.contact_id) {
        const foundContact = this.contacts.find(contact => contact.id === this.form.contact_id);
        this.selectedContact = foundContact ? foundContact.fields : {};
      }
    },
    async listAgents() {
      try {
        this.agents = await getAgents();
      } catch (error) {
        console.error('Error getting Agents:', error);
      }
    },
    async listContacts() {
      try {
        this.contacts = await getContacts();
      } catch (error) {
        console.error('Error getting Contacts:', error);
      }
    },
    saveForm() {
      this.$refs.form.validate((valid) => {
        this.formValid = valid;
        if (valid && this.postalCodeValidation) {
          if (this.mode === "create") {
            this.createAppointment();
          } else if (this.mode === "update") {
            this.updateAppointment();
          }
        } else {
          this.$message.error("Please fill out the form correctly.");
        }
      });
    },
    resetForm() {
      this.form = { ...this.appointmentData };
      this.directionsRenderer.setDirections(null);
      this.postalCodeValidation = null;
    },
    async createAppointment() {
      const {
        appointment_date,
        appointment_postcode,
        agent_id,
        contact_id
      } = this.form;
      try {
        // create Appointment
        await createAppointment({
          appointment_date,
          appointment_postcode,
          contact_id: [contact_id],
          agent_id: [agent_id],
        });
        this.$message({
          message: 'Appointment created successfully',
          type: 'success'
        });
        this.resetForm();
      } catch (error) {
        console.error('Error saving appointment:', error);
      }
    },
    async updateAppointment() {
      const {
        appointment_date,
        appointment_postcode,
        agent_id,
        contact_id,
      } = this.form;
      const appointmentId = this.appointmentData.id;
      try {
        const updatedData = {
          appointment_date,
          appointment_postcode,
          contact_id: [contact_id],
          agent_id: [agent_id],
        };
        // check appointments changed
        const isAppointmentInfoChanged =
          appointment_date !== this.appointmentData.appointment_date ||
          appointment_postcode !== this.appointmentData.appointment_postcode ||
          contact_id !== this.appointmentData.contact_id ||
          agent_id !== this.appointmentData.agent_id;
        if (isAppointmentInfoChanged) {
          await updateAppointment(appointmentId, updatedData);
          this.$message({
            message: 'Appointment updated successfully',
            type: 'success'
          });
          // get updated appointment 
          this.$emit('appointments-updated');
        }
      } catch (error) {
        console.error('Error updating appointment:', error);
      }
    },
  },
  mounted() {
    if(this.mode === "update") {
      this.checkMapForm();
      this.handleContactChange();
    }
    else {
      this.listContacts();
      this.listAgents();
    }
    this.map = new google.maps.Map(this.$refs.map, {
      center: { lat: this.officeLocation.lat, lng: this.officeLocation.lng }, // Office Coordinates
      zoom: 10,
    });
    // directions service
    this.directionsService = new google.maps.DirectionsService();
    this.directionsRenderer = new google.maps.DirectionsRenderer();
    this.directionsRenderer.setMap(this.map);
    //map click listener
    this.map.addListener('click', (event) => {
      this.handleMapClick(event.latLng.lat(),event.latLng.lng(),true);
    });
  },
};
</script>

<style scoped>
.appointment-form {
  max-width: 800px;
  margin: auto;
  padding: 5px;
}
.input-elem {
  margin-top: 3px;
}
</style>
