  <template>
    <el-table :data="appointments" stripe>
      <!-- Number -->
      <el-table-column label="Number">
        <template v-slot="scope">
        {{ scope.$index + 1 }}
        </template>
      </el-table-column>
      <!-- Appointment ID Column -->
      <el-table-column prop="fields.appointment_id" label="Appointment ID"></el-table-column>
      <!-- Appointment Date Column -->
      <el-table-column label="Appointment Date">
        <template v-slot="scope">
          {{ formatAppointmentDate(scope.row.fields.appointment_date) }}
        </template>
      </el-table-column>
      <!-- Contact Name Column -->
      <el-table-column label="Contact Name and Surname">
        <template v-slot="scope">
          {{ combinedContactNameAndSurname(scope.row.fields.contact_name, scope.row.fields.contact_surname) }}
        </template>
      </el-table-column>
      <!-- Agent Name Column -->
      <el-table-column label="Agent Name">
        <template v-slot="scope">
          {{ combinedContactNameAndSurname(scope.row.fields.agent_name, scope.row.fields.agent_surname) }}
        </template>
      </el-table-column>
      <!-- Edit Button Column -->
      <el-table-column label="Actions">
        <template v-slot="scope">
          <el-button
            :type="isPastDate(scope.row.fields.appointment_date) ? 'info' : 'primary'"
            :disabled="isPastDate(scope.row.fields.appointment_date)"
            @click="openEditModal(scope.row)"
          >
            Edit
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- Edit Appointment Modal -->
    <el-dialog v-model="editModalVisible" :key="selectedAppointment.id">
      <AppointmentForm
        :appointmentData="selectedAppointment"
        :contactData="contacts"
        :agentData="agentList"
        mode="update"
        @appointments-updated="listAppointmentsUpdate"
      />
    </el-dialog>
  </template>
  
  <script>
  import { format } from "date-fns";
  import AppointmentForm from "@/components/AppointmentForm.vue";
  import { getContacts } from '@/services/airtables';
  export default {
    emits: ['appointments-updated'],
    props: {
      appointments: {
        type: Array,
        required: true,
      },
      isPast: {
        type: Boolean,
        required: false,
      },
      agentList: {
        type: Array,
        required: true,
      },
    },
    data() {
    return {
        editModalVisible: false,
        selectedAppointment: {
          id: 1
        },
        contacts: [],
        agents: []
      };
    },
    components: {
      AppointmentForm,
    },
    computed: {
      combinedContactNameAndSurname() {
        return function(contactName, contactSurname) {
          return `${contactName} ${contactSurname}`;
        };
      },
      formatAppointmentDate() {
        return function(date) {
          return format(new Date(date), "yyyy-MM-dd HH:mm:ss");
        };
      },
    },
    methods: {
      isPastDate(date) {
        const appointmentDate = new Date(date);
        const currentDate = new Date();
        return appointmentDate < currentDate;
      },
      listAppointmentsUpdate() {
        this.editModalVisible = false;
        this.$emit('appointments-updated');
      },
      openEditModal(appointment) {
        const agentId = appointment.fields.agent_id[0];
        const id = appointment.id;
        // get value from proxy
        const fields = appointment.fields;
        const manuallyFilledFields = {
          contact_name: fields.contact_name[0],
          contact_surname: fields.contact_surname[0],
          contact_email: fields.contact_email[0],
          contact_phone: fields.contact_phone[0],
          contact_id: fields.contact_id[0],
        };
        this.selectedAppointment = {
          ...fields,  
          ...manuallyFilledFields,  
          agent_id: agentId,
          id: id
        };
        this.editModalVisible = true;
      },
      async listContacts() {
        try {
          this.contacts = await getContacts();
        } catch (error) {
          console.error('Error getting Contacts:', error);
        }
      },
    },
    mounted() {
      this.listContacts();
    },
  };
  </script>
  <style scoped>
   .appointment-form {
      max-width: 800px;
      margin: auto;
      padding: 5px;
    }
  </style>
  