<!-- App.vue -->
<template>
  <div id="app">
    <Layout />
  </div>
</template>

<script>
import Layout from '@/views/LayoutView.vue';

export default {
  name: 'App',
  components: {
    Layout,
  },
};
</script>